/* CSS declarations go here */
.help-inline {
  display: none;
}

.center { 
  float: none; 
  margin-left: auto; 
  margin-right: auto; 
}

.center-text {
  text-align: center;
}

.center-form {
  margin: auto; 
  width: 500px
}

